rust/Cargo.lock

pyenv/*
**/__pycache__
crab_env/

**/*.sqlite

.idea/*

# Various build directories
**/target

# One-off scripts that I don't want to get out
tools/remote_*

# Stray build bartifacts
*.ll
*.bc
*.exe
